header {
    height: 50%;
    display: flex;
    align-items: center;

    h1 {
        padding-left: 80px;
        font-size: 4vw;
        word-break: break-all;
        color: #42567a;
        line-height: 5vw;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background: linear-gradient(to bottom, #3877ee, #ef5da8); // Gradient colors
        }
    }
}
