.circle-years-wrapper {
    .years-container {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-size: 10vw;
            color: #5d5fef;
            margin: 0;

            &:last-child {
                margin-left: 100px;
                color: #ef5da8;
            }
        }
    }

    .circle-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        border: 1px solid #42567a50;

        .circle-item {
            position: absolute;
            width: 3.5vw;
            height: 3.5vw;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
            transform: translate(-50%, -50%);
            border: 1px solid #42567a50;
            transition: 0.5s;

            &.closed {
                color: transparent;
                width: 0.5vw;
                height: 0.5vw;
                background-color: black;

                &:hover {
                    width: 3.5vw;
                    height: 3.5vw;
                    background-color: white;
                    color: initial;
                }
            }

            .circle-name {
                position: absolute;
                left: 140%;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.2vw;
                font-weight: bold;
                line-height: 30px;
                color: #42567a;
            }
        }
    }
}
