.slider-item {
    .year {
        color: #3877ee;
        font-size: 25px;
        line-height: 30px;
    }

    .text {
        color: #42567a;
        word-break: break-all;
        font-size: 20px;
        line-height: 30px;
    }
}
