.slider-item {
    .year {
        color: #3877ee;
        font-size: 1.5vw;
        line-height: 2vw;
    }

    .text {
        color: #42567a;
        word-break: break-all;
        font-size: 1.2vw;
        line-height: 2vw;
    }
}

@media only screen and (max-width: 480px) {
    .slider-item {
        .year {
            font-size: 4vw;
        }

        .text {
            font-size: 3.5vw;
            line-height: 4vw;
        }
    }
}
